#boton-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

button{
    width: 200px;
    height: 50px;
    color: aliceblue;
    background-color: rgb(56, 153, 129);
    border-radius: 10px;
    font-family: rubik;
    font-size: 15px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
}
button:hover{
    width: 210px;
    height: 55px;
    background-color: rgb(71, 192, 162); 
    transition: 400ms;
    box-shadow: 0px -1px 13px 4px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px -1px 13px 4px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px -1px 13px 4px rgba(0,0,0,0.47);
}

body{
    background-color: rgb(69, 27, 117);
    padding: 30px;
}

h1{
    color: aliceblue;
    font-size: 40px;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;;
}

div{
    background-color: none;
}

.tituloh1{
    display: flex;
    justify-content: center;
}

#divInputs{
    display: flex;
    flex-direction: column;
    row-gap:20px;
    align-items: center;

}

input{
    height: 40px;
    width: 200px;
    border-radius: 5px;
}
input:focus {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}

p{
    background-color: rgb(179, 48, 1);
    border-radius: 10px;
    padding: 20px;
    font-family: rubik;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-size: 18px;
    margin: 0px;
}

#crearpoliza{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 20px;
}

h4{
    color: aliceblue;
    font-size: 20px;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor__all{
    display: flex;
}

#divcot_USD{
    display: flex;
    flex-direction: column;
    row-gap:20px;
    align-items: center;
}